@import "tailwindcss";

:root {
  --bg: #020617;
  --primary: #6366F1;
  --accent: #38BDF8;
  --text: #E5E7EB;
  --muted: #94A3B8;
}

html,
body {
  background-color: var(--bg);
  color: var(--text);
}
